main, .areaTexto{
    background: #fcf3fc;
}

main img {
    vertical-align: top;
    width: 6%;
    padding: 1%;
}

input {
    font-weight: bold;
    padding: 0.5em;
    font-size: 1.5em;
    font-family: 'inter';
    border: 2px solid #710a60;
    border-radius: 15px;
}

input:hover {
    box-shadow: 0px 5px 20px 0px rgba(255, 1, 221, 0.637);
}

input:active {
    border-color: #ff00d4;
    color: #ff00d4;
}

.miEncriptador {
    display: inline-block;
    width: 50%;
    margin: 5% 0 0 5%;
}

.areaTexto {
    resize: none;
    border: none;
    width: 90%;
    font-size: 2em;
    font-family: 'inter';
}

.areaTexto::placeholder{
    color: #710a60;
}

.areaTexto:focus {
    border: none;
    outline: none;
}

.restriccion {
    margin: 0 0 1% 0;
}

.restriccion h1{
    display: inline-block;
    padding: 1%;
    font-size: 1em;
    color: #495057;
}

.restriccion img{
    width: auto;
}

.botonAccion input{
    width: 40%;
    margin: 0 5% 9% 0;
}

.cifrar {
    color: white;
    background-color: #710a60;
}

.descifrar {
    color: #710a60;
    background-color: #fcf3fc;
}

.transcripcion {
    vertical-align: top;
    display: inline-block;
    margin: 2% 6%;
    padding: 1%;
    width: 22%;
    height: 700px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 20px 35px -1px rgba(54, 54, 54, 0.699);
}

#nuevoTexto {
    resize: none;
    border: none;
    font-family: 'inter';
    width: 100%;
    height: 90%;
    font-size: 1.2em;
    text-align: justify;
}

#nuevoTexto:focus {
    border: none;
    outline: none;
}

.copy {
    margin: 0 9%;
    width: 80%;
    background-color: white;
    color: #710a60;
}

footer {
    background: black;
    text-align: center;
    padding: 1em;
}

footer img {
    width: 15%;
}

footer p{
    font-size: 1em;
    color: white;
    margin: 2%px;
}